.DS_Store
/Genestacker/Genestacker-cli/target/
/Genestacker/Genestacker-lib/target/
/Genestacker/bin/
/Genestacker/dist/*.zip
.Rapp.history
.Rhistory
/Genestacker/target/
/Genestacker/input

# 项目排除路径
/Genestacker/Genestacker-gui/target/